<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        #toprow {
            text-align: right;
            margin-top: 50px;
        }

        #nombreuser {
            
            border: 1px groove #10292A;
            padding: 10px;
        }

    </style>
</head>

<body>

    <div class="row" id="toprow">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
           

            <form action="/api/inicio/login">
                <label id="nombreuser"><%=nombreuser%></label>
                <button class="btn btn-md btn-danger">Salir</button>
            </form>

        </div>
        <div class="col-lg-2"></div>


    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form action="/api/autor/crearautor"
                method="POST"
            >
                <label for="idname"></label>
                <input type="text" class="form-control" id="idname" placeholder="Nombres" name="nombres">
                <br>
                <label for="idlastname"></label>
                <input type="text" class="form-control" id="idlastname" placeholder="Apellidos" name="apellidos">
                <br>
                <label for="idfecha"></label>
                <input type="date" class="form-control" id="idfecha" name="fechaNacimiento">
                <br>
                <label for="idnumlib"></label>
                <input type="number" class="form-control" id="idnumlib" placeholder="Numero de libros" name="numeroLibros">
                <br>
                <label for="idecu">Ecuatoriano:</label>
                <input type="checkbox" class="" id="idecu" name="ecuatoriano">
                <br>

                <div id="btncrear" class="text-center">
                    <button>CREAR</button>
                    <button type="button"><a href="/api/autor/gestionautor">Cancelar</a></button>
                </div>
                

            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</body>

</html>