<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .boton{
            border:black 2px;
            border-style: groove;

            cursor: pointer;
        }
        .boton-seleccionado{
            color: white;
            background-color: #10292A;
        }
        .boton-sin-seleccion{
            color: white;
            background-color: black;

        }
    </style>

</head>
<body>

<div>
    <!--con cabecera multer-->

    <img id="imagen-muestra" src="/api/descargararchivo/<%=idTrago%>" width="300px" height="300px" alt="">

    <a href="/api/descargararchivo/<%=idTrago%>" target="_blank">
        Descargar Archivo
    </a>



    <form
            action="/api/subirarchivo/<%= idTrago %>>"
            method="post"
            enctype="multipart/form-data"

    >

        <label id="texto-archivo" class="boton boton-sin-seleccion" for="archivo">
            Seleccionar archivo
        </label>

        <input type="file" id="archivo" hidden name="imagen" accept=".pptx, .jpg, .docx" multiple onchange="validarArchivos()"> <br>
        <button>Subir archivos</button>
    </form>
</div>

<script>

function validarArchivos() {
    const archivo=document.getElementById("archivo");
    const label=document.getElementById('texto-archivo')
    console.log(archivo.files);
    if(archivo.files.length>0){
        label.className='boton boton-seleccionado';
        label.innerText='Archivos seleccionado =)';


        ///// EMPIEZA
        const file = archivo.files[0];
        const reader = new FileReader();
        reader.onload = (eventoLecturaArchivo) => {
            console.log(eventoLecturaArchivo.target.result);
            const url = eventoLecturaArchivo.target.result;

            const imagenMuestra = document.getElementById('imagen-muestra');
            imagenMuestra.src = url;

        };
        reader.readAsDataURL(file);
        //// TERMINA

    }else{
        label.className='boton boton-sin-seleccion';
        label.innerText='Seleccionar archivo';

    }
}

</script>

</body>
</html>
