<!--Login GET->Login -->
<!--Login POST->Login -->
<!--Logout GET->Logout -->
<!--/protegida GET->Login -->

<form action="/api/login" method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button>LOGIN</button>
</form>