<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La Cuerda.Net</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        #logocentro {

            margin: 30px;
            width: 100%;
        }

        #buscadorcentro {
            border: 2px;
            border-style: groove;
            border-color: gray;
            background-color: #ddd;
            margin: 30px;
            width: 100%;
            padding: 10px;

        }

        .indicaciones {

            list-style-type: none;
            /*Para quitar los guiones del li>*/

        }

        legend {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: black;
        }

        #piepag {
            border-bottom-style: groove;
            border-bottom-width: 1px;
            border-bottom-color: gray;
            margin-top: 20px;
        }

        #cancionesingles {
            border: groove 1px chocolate;
            color: chocolate
        }

        .footer {
            /*position: fixed;*/
            left: 0;
            bottom: 0;
            width: 100%;
            /*background-color: red;*/
            /*color: white;*/
            text-align: center;
        }

        .topnav {
            background-color: black;
            font: white;
            line-height: 25px;

        }

        #buscadortopnav {
            text-align: right;
        }

        #lupa {
            color: #fff;
        }

        a.tn {
            color: white;
        }

        #videosmusicales {
            list-style-type: none;
        }

        #encabezadopag {
            font-size: 14px;
        }

        a.linkspie{
            color: black;
            font-size: 12px;
        }
    </style>

</head>

<body>


    <div class="container">
        <div class="row" id="encabezadopag">
            <b>LaCuerda.net: Letras, Tablaturas y Acordes de Guitarra de Canciones en Español.</b>
        </div>
        <div class="row topnav">

            <div class="col-sm-2">
                <a class="active" href="#home"><img src="/imagenes/cuerdatop.png" alt="imagentopnav"></a>
            </div>
            <div class="col-sm-6">
                <a class="tn" href="#">acorde |</a>
                <a class="tn" href="#">evolución |</a>
                <a class="tn" href="#">videos |</a>
                <a class="tn" href="#">recursos |</a>
                <a class="tn" href="#">comunidad |</a>
                <a class="tn" href="#">enlaces |</a>
                <a class="tn" href="#">extras</a>


            </div>
            <div class="col-sm-4">
                <div id="buscadortopnav">
                    <button id="bnv">Buscar</button>
                    <input type="text" placeholder="Artista o canción...">
                    <button class="btn"><i id="lupa" class="fa fa-search"></i></button>
                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-lg-3">

                <legend>Letras y acordes</legend>
                <ul>
                    <li>abcdefghijklmnopqrstuvwxyz </li>
                    <li>Buscador avanzado</li>
                    <li>Cantos y alabanzas</li>
                    <li>Canciones nuevas</li>
                    <li>Enviar canción</li>
                    <li>Mis favoritos</li>
                </ul>

                <legend>Recursos</legend>
                <ul>
                    <li>Curso de guitarra</li>
                    <li>Curso Guitarra Eléctrica</li>
                    <li>Glosario de Acordes</li>
                    <li>Glosario de Ritmos</li>
                    <li>Afinador</li>

                </ul>
                <legend>Comunidad</legend>
                <ul>
                    <li>Listado de usuarios</li>
                    <li>Foros de Discusión</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Google+</li>
                </ul>

                <legend>Canciones populares</legend>
                <table>
                    <tr>
                        <td>Eres Tú</td>
                    </tr>
                    <tr>
                        <td>Las luces de esta ciudad</td>
                    </tr>
                    <tr>
                        <td>Calma</td>
                    </tr>
                    <tr>
                        <td>Un año</td>
                    </tr>
                    <tr>
                        <td>Que prometiste</td>
                    </tr>
                    <tr>
                        <td>Cristina</td>
                    </tr>
                    <tr>
                        <td> Como mirarte</td>
                    </tr>
                    <tr>
                        <td>Mi historia entre tus dedos</td>
                    </tr>
                    <tr>
                        <td>No hay nadie más</td>
                    </tr>
                </table>


            </div>



            <div class="col-lg-6">

                <div class="container">
                    <div id="logocentro" class="text-center">
                        <img src="/imagenes/lacuerda.png" alt="logo_centro">
                        <div>
                            Canciones para Guitarra Acústica y Eléctrica <br>
                            actualizado el 07.May.2019
                        </div>

                    </div>

                    <div id="buscadorcentro">
                        <div class="text-center">
                            <input id="buscador" type="text" placeholder="Artista o canción">
                            <button for="buscador" class="btn btn-primary">Buscar</button>
                        </div>

                        <ul class="indicaciones">
                            <li>» Verifica la ortografía.</li>
                            <li>» No uses símbolos raros ( #+-"$ etc).</li>
                            <li>» Aquí no hay canciones en inglés. ¿por qué?</li>
                            <li>» Consulta el Indice de Artistas aquí.</li>
                        </ul>

                    </div>

                </div>


            </div>




            <div class="col-lg-3">

                <div class="row">

                    <div class="col-sm-6 text-center">

                        <a href="#">
                            Instala <br>
                            Gratis <br>
                            Nuestra App <br>
                            (Android y iOS)
                        </a>

                    </div>
                    <div class="col-sm-6">
                        <img src="/imagenes/logoapp.png" alt="logoapp">
                    </div>

                </div>

                <legend>Artistas populares</legend>
                <ol>
                    <li>Soda Stereo</li>
                    <li>Sebastian Yatra</li>
                    <li>Andrés Calamaro</li>
                    <li>Gustavo Cerati</li>
                    <li>Maná</li>
                    <li>Enanitos Verde</li>
                    <li>Sin Bandera</li>
                    <li>Joaquín Sabina</li>
                    <li>Fito Paez</li>
                    <li>Leiva</li>
                </ol>

                <legend>Videos Musicales</legend>
                <ul id="videosmusicales">
                    <li>» Tutoriales</li>
                    <li>» Karaokes</li>
                    <li>» Videos Oficiales</li>
                    <li>» Covers</li>


                </ul>
                <legend>Enlaces</legend>
                <ol>
                    <li>Diccionario de Acordes</li>
                    <li>Acordes y Letras</li>
                    <li>Acordes correctos</li>
                    <li>RealTab</li>
                    <li>Letras de canciones</li>
                    <li>Guitarra Para Enamorar</li>
                    <li>Mariachis y Serenatas</li>
                    <li>Canciones Traducidas</li>
                </ol>

                <div class="text-center" id="cancionesingles">
                    <a href="#">Acordes en inglés</a>
                </div>
            </div>
        </div>




        <div class="footer">

            <div class="container">
                <div class="text-center" id="piepag">
                    <a class="linkspie" href="#">Mapa del Sitio ·</a>
                    <a class="linkspie" href="#">Aplicación Móvil ·</a>
                    <a class="linkspie" href="#">¿Tienes tu propia página? ·</a>
                    <a class="linkspie" href="#">Plugin Navegador ·</a>
                    <a class="linkspie" href="#">Correo ATAME ·</a>
                    <a class="linkspie" href="#">Escríbenos</a>
                </div>

                <div>
                    <div>
                        © 2018 LaCuerda.net ·
                        <a class="linkspie" href="#"> Aviso Legal ·</a>
                        <a class="linkspie" href="#"> Privacidad</a>
                    </div>

                </div>
            </div>

        </div>






    </div>



</body>

</html>