<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        #cajainput {
            margin-top: 100px;


        }

        #btnlogin {
            margin-top: 50px;
            border: 50px;
        }

        #login {
            background-color: #0D2122;
            padding: 50px;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center" id="login">


            <form action="/api/inicio/principal" method="POST" id="cajainput">
                <div class="form-group">
                    <label for="idnombre"></label>
                    <input type="text" class="form-control" id="idnombre" placeholder="Nombre..." name="nombreuser">
                </div>
                <br><br>
                <button type="submit" class="btn btn-lg btn-info">LogIn</button>
            </form>

        </div>
        <div class="col-lg-4"></div>
    </div>

</body>