<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        #toprow {
            text-align: right;
            margin-top: 50px;
        }

        #nombreuser {

            border: 1px groove #10292A;
            padding: 10px;
        }

        #middlerow {
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div class="row" id="toprow">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">


            <form action="/api/inicio/login">
                <label id="nombreuser"><%=nombreuser%></label>
                <button class="btn btn-md btn-danger">Salir</button>
            </form>

        </div>
        <div class="col-lg-2"></div>


    </div>

    <div class="row" id="middlerow">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <form action="/api/autor/gestionautor">
                <button>GESTIONAR AUTORES</button>
            </form>

        </div>
        <div class="col-lg-4"></div>
    </div>
</body>

</html>