<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>



            /*.CSS*/
            /*selector {propiedad1:valor;}*/

            /*Selector de etiqueta*/
        h1 {
            color:red;
            background-color: yellow;
        }

         p,h2,div {
            color:green;
            background-color: black;
             font-size: 24px;
             font-weight: 700;
         }

        /*De ID*/
        #adios{
            color: aquamarine;
            background-color: brown;
        }

        /*Selector de clase*/
        .verde{
            color:cyan;
            background-color: darkcyan;
        }


        p{
            color: darkcyan;
        }

        .azul{
            color:deepskyblue;
        }

        .morado{
            color:purple;
        }



        /*Se pueden unir selectores, es el más importante que una clase*/
            /*cuando sea p y verde*/
        p.verde{
            color:navy;
        }


        .modelo_cajas{
            margin: 100px;
            color: black;
            padding: 10px;

        }


        .separador{
            margin-top: 200px;
            margin-bottom: 200px;
        }

        table{
            width: 100%;
        }
        tr{
            /*border-bottom-style: solid;*/
            border-bottom: solid 2px white;
        }


    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <!-- col- sm/md/lg - #-12-->
        <!--<div class="col-sm-12">-->
            <!--<h1>Columna de 12</h1>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
            <!--<h1>Columna de 6</h1>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
            <!--<h1>Columna de 6</h1>-->
        <!--</div>-->
        <!--<div class="col-sm-2">una</div>-->
        <!--<div class="col-sm-6">dos</div>-->
        <!--<div class="col-sm-4">tres</div>-->


        <!-- .col-sm-3*5>h1-->
        <div class="col-sm-2">
            <h1>Logo</h1>
        </div>
        <div class="col-sm-7">
            <h1>Menu</h1>
        </div>
        <div class="col-sm-3">
            <h1>LogIN</h1>
        </div>



        <!--<div class="col-sm-6">-->
            <!--<h1>sm 6</h1>-->
        <!--</div>-->
        <!--<div class="col-sm-6">-->
            <!--<h1>sm 6</h1>-->
        <!--</div>-->

        <!--<div class="col-md-6">-->
            <!--<h1>md 6</h1>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<h1>md 6</h1>-->
        <!--</div>-->

        <!--<div class="col-lg-6">-->
            <!--<h1>lg 6</h1>-->
        <!--</div>-->
        <!--<div class="col-lg-6">-->
            <!--<h1>lg 6</h1>-->
        <!--</div>-->
    </div>

    <div class="row">
        <div class="col-sm 3">
            <h1>Genero Peliculas</h1>

            <!-- table>tr*2 -->
            <table>
                <tr>
                    <!-- td*3 -->
                    <td>i</td>
                    <td>Accion</td>
                    <td>1024</td>
                </tr>
                <tr>
                    <td>i</td>
                    <td>Animacion</td>
                    <td>356</td>
                </tr>
            </table>

        </div>
        <div class="col-sm 9">
            <h1>Peliculas Online</h1>
            <p>Pelisplus.co es un sitio ideal para ver películas y series online. Nuestro sistema se preocupa por tener lo último del cine en calidad full HD.

                Para ver una película o serie de televisión puedes usar el buscador en la parte superior o seguir uno de los enlaces de genero o año de estreno en la parte izquierda del sitio, luego el enlace te llevará al reproductor donde solo tienes que dar click en el boton de play. Te invitamos a compartir este genial sitio con tus amigos y familiares.</p>

            <!--.row>.col-sm-6*2-->
            <div class="row">
                <div class="col-sm-6">Columna 1</div>
                <div class="col-sm-6">Columna 2</div>
            </div>

        </div>
    </div>
</div>





<h1>Hola</h1>
<h1 id="adios"">Adios</h1>
<h1 class="verde">Bienvenidos</h1>
<p>Barcelona</p>
<div>Liverpool</div>
<h2>Ajax</h2>

<div id="adios">Adios mi amor :(</div>

<h1 id="adios" class="verde">Quien es el más importante?</h1>

<h3 style="color:white;background-color: black">Adios g</h3>


<p>Prueba de que selector gana en orden de definicion</p>

<p class="verde azul morado">Lorem Ipsum</p>

<div class="verde">VERDE 1</div>
<p class="verde">VERDE 2</p>


<h1 class="modelo_cajas">Contenido modelo de cajas</h1>




</body>
</html>